


body{
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

.reveal{
    border: 2px solid rgba(146, 201, 238, 0.867);
    background-color: rgb(248, 220, 220);
    margin-bottom: 50px;
}


.color-changer{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.color-changer p{
    text-align: center;
    margin: 0;
}

footer{
    text-align: center;
   
}